{% extends "base.html" %}
{% block content %}

<div class="container">	
	<table class="table">
		<br>
		            <tbody>
		            	<h1 class="border-bottom mb-4">Controls</h1>
		            	<tr>
		                	<td> <a href='./onoroff' class='btn btn-primary'>Bot on/off</a></td>
		                </tr>
		                 <tr>
		                	<td> <a href='./timeframe' class='btn btn-primary'>Hours of operation </a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./selectzip' class='btn btn-primary'>Job opportunity neighbourhood</a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./price' class='btn btn-primary'>Minimum Income</a></td>
		                </tr>
		                </tbody>
	</table>
	<table class="table">
		
		            <tbody>
		                <br>
		                <h1 class="border-bottom mb-4">Settings</h1>
		                <tr>
		                	<td> <a href='./emailpass' class='btn btn-primary'> Email Credentials</a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./emailkeyword' class='btn btn-primary'>Job opportunity subject key word & sender email ID</a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./exclude' class='btn btn-primary'>job oppurtunity exclusion keywords</a></td>
		                </tr>
		                
		               
		                <tr>
		                	<td> <a href='./zipgroupadd' class='btn btn-primary'>zip code setting</a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./jobimagelink' class='btn btn-primary'>button image link </a></td>
		                </tr>
		                 <tr>
		                	<td> <a href='./joblinktext' class='btn btn-primary'>Job Link Keyword ID </a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./jobaccept' class='btn btn-primary'>Job accepted screen keyword ID </a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./emailalert' class='btn btn-primary'>Job accepted alert email</a></td>
		                </tr>
		                
		               
		                
		            </tbody>
	</table>
</div>
{% endblock content%}