{% extends "base.html" %}
{% block content %}

<div class="container">	
	<table class="table">
		<br>
		            <tbody>
		                <tr>
		                	<td> <a href='./emailpass' class='btn btn-primary'> Click here to configure email and password</a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./exclude' class='btn btn-primary'>Excluding job opportunity key words</a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./onoroff' class='btn btn-primary'>Automatic Job accept on/off</a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./timeframe' class='btn btn-primary'>Hours of operation </a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./zipgroupadd' class='btn btn-primary'>Add Zip location by locality name</a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./selectzip' class='btn btn-primary'>Job opportunity zip code</a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./emailkeyword' class='btn btn-primary'>Identifying job opportunity emails keywords</a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./emailalert' class='btn btn-primary'>Job accepted alert</a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./price' class='btn btn-primary'>Threshold Price amount</a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./joblinktext' class='btn btn-primary'>Job Link Text Keyword </a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./jobimagelink' class='btn btn-primary'>Job Image Link </a></td>
		                </tr>
		                <tr>
		                	<td> <a href='./jobaccept' class='btn btn-primary'>Job Accepted identification keyword </a></td>
		                </tr>
		            </tbody>
	</table>
</div>
{% endblock content%}