{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="content-section">
		<form method="POST" action=''>
			<br>
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Use Accept button Image link Filter?</legend>
				<div class="form-group">
					<div class="form-group">
						  <input class="form-control-label" type="radio" name="optradio" value='YES' checked> Yes
						  <br>					
						  <input class="form-control-label" type="radio" name="optradio" value='NO'> No
					</div>
					<div class="form-group">
						<input type ="submit" name="action" value="Submit" class="btn btn-outline-info">
					</div>
					<div class ="form-group">
						<label class='form-control'>Using Accept button Image link Filter - {{ joblinktext }}</label>
					</div>
				</div>
				<label >Add Accept button Image link</label>
				<div class="form-group">
					<input type ="text" class='form-control' name='keyword'>
				</div>
				<div class="form-group">
					<input type ="submit" name="action" value="Add" class="btn btn-outline-info">
				</div>
				<label class='form-control'>All links- {{ ','.join(data) }} </label>
				<legend class="border-bottom mb-4">Accept button Image links</legend>
				<div class="form-group">
				<select class="form-control" name="listitem">
					<option disabled selected value> -- select links to delete -- </option>
					{% for d in data %}
					<option value="{{ d }}">{{ d }}</option>
					{% endfor %}
				</select>
				</div>
				<div class="form-group">
					<input type ="submit" name="action" value="Delete" class="btn btn-outline-info">
				</div>
				
			</fieldset>
		</form>
	</div>
</div>
<div class="container">
<a href="https://ibb.co/mDpw4Cz"><img src="https://i.ibb.co/qy6fpM1/button-link.png" alt="button-link" border="0"></a>
</div>
{% endblock content%}